
@import "~gridstack/dist/gridstack.min.css";

.grid-stack > .grid-stack-item > .grid-stack-item-content {
  overflow-y: hidden !important;

}

.grid-stack .card {
  box-shadow: 0 10px 10px rgba(255, 255, 255, 0.25);
}

.show-hover {
  display: none;
  //max-height: 20px;
}

.card-header:hover .show-hover {
  display: inline-block;
}
.grid-stack-item-content {
  height: 100%;
}
.grid-stack-item {
  margin-bottom: 5px;
  height: calc(100% - 10px)
}
.card-body {
  height: calc(100% - 42px);
  overflow-y: scroll;
}

.widget-close, .widget-config {
  cursor: pointer;
}
